*{
	margin: 0;
	padding: 0;
}
body{
	background: url(../img/ia_100000027.webp) no-repeat fixed 0px 0px/100% 45.5vw;
	animation: banner 3s  alternate infinite;
}
a{
	text-decoration: none;
}
@keyframes banner{
	from{background: url(../img/ia_100000027.webp) no-repeat fixed 0px 0px/100% 45.5vw}
	to{background: url(../img/ia_100000028.webp) no-repeat fixed 0px 0px/100% 45.5vw}
}
.box1{
	height: 80px;
	line-height: 80px;
	background: white;
}
.logo{
	width: 167px;
	float: left;
	margin-left: 12.5%;
	margin-top: 12px;
}
.nav{
	float: right;
	margin-right: 10.5%;
}
.nav{
	text-align: center;
	float: right;
}
.nav a{
	color: black;
	text-decoration: none;
	float: left;
	margin: 0px 2vw;
	
}
.nav span{
	width: 0%;
	display: block;
	margin: 0 auto;
	border-top: solid 1px #999;
	transition: all 0.5s;
	position: relative;
	top: -5px;
}
.nav .span1{
	width: 100%;
}
.nav a:hover span{
	width: 100%;
}
.nav2{
	height: 44px;
	background: #60c14d;
	text-align: center;
	line-height: 44px;
	position: relative;
	color: white;
	font-size: 14px;
	display: none;
}
.nav2 span{
	position: absolute;
	right: 10px;
}
.box2{
	background: #f7f7f7;
	margin-top: calc(45.5vw - 80px);
	text-align: center;
	padding: 87px 0px;
}
.box-title {
	text-align: center;
	padding-top: 90px;
}
.box-title h3{
	font-family: '微软雅黑';
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	color: #494949;
}
.box-title span{
	font-family: arial;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	color: #bcbcbc;
}
.line2{
	width: 40px;
	height: 3px;
	background: green;
	margin: 16px auto 27px;
}
.sever-list{
	padding: 0px 13.5%;
	overflow: hidden;
	margin-top: 56px;
}
.sever-list li{
	float: left;
	width: 23%;
	list-style: none;
	padding: 0px 1%;
}
.sever-list h4{
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	color: #4bb344;
	padding: 25px 0 5px 0;
}
.sever-list p{
	color: rgb(128, 128, 128);
	letter-spacing: 1px;
	font-size: 12px;
	line-height: 24px;
	
}
.box3{
	height: 1090px;
	background: white url(../img/ia_100000033.webp) no-repeat  0px 0px;
}
.fruits-list{
	width: 69%;
	margin: 0 auto;
	background: pink;
	list-style: none;
}
.fruits-list li{
	float: left;
	width: calc((100% - 68px)/4);
	margin-right: 20px;
	border: solid 1px #ccc;
	text-align: center;
	margin-top: 20px;
	position: relative;
	top: 0px;
	transition: all 0.5s;
}
.fruits-list li:nth-child(4n){
	margin-right: 0px;
}
.fruits-list img{
	width: 84%;
	display: block;
	margin: 0 auto;
}
.fruits-list h4{
	color: #555555;
    font-size: 15px;
    font-family: "微软雅黑";
    line-height: 21px;
    font-weight: 500;
    margin-top: 18px;
}
.line3,.line4{
	width: 84%;
	border-top: solid 1px #ccc;
	margin-left: 8%;
	margin-top: 12px;
	margin-bottom: 20px;
}
.line4{
	margin-top: -21px;
	border-top: solid 1px black;
	width: 0px;
	transition: all 0.5s;
}
.fruits-list p{
	color: #aaaaaa;
    font-size: 12px;
    font-family: '微软雅黑';
    line-height: 24px;
    width: 84%;
    margin-left: 8%;
    margin-bottom: 25px;
}
.fruits-list li:hover{
	top: -10px;
	box-shadow: 0px 0px 15px 4px #ddd;
}
.fruits-list li:hover h4{
	color: green;
}
.fruits-list li:hover .line4{
	width: 84%;
}
.box4{
	padding: 118px 0px 218px 0px;
	background: white url(../img/ia_100000030.webp) no-repeat 0px 0px/100%;
}
.more-box{
	width: 1066px;
	height: 500px;
	margin: 0 auto;
	border: solid 15px rgba(255,255,255,0.3);
	background: #80bb01;
	position: relative;
	background-clip: padding-box;
}
@media screen and (max-width: 1096px)  {
	.more-box{
		width: 90%;
	}
}
.box-title2 h3{
	font-size: 14px;
	color: white;
}
.box-title2 span{
	font-family: 'trebuchet ms';
	font-size: 38px;
	font-weight: bold;
	color: #ffffff;
	display: block;
	margin: 10px 0px 20px 0px;
}
.box-title2 .line2{
	background: white;
} 
.more-btn{
	width: 178px;
	height: 43px;
	background: white;
	text-align: center;
	line-height: 43px;
	display: block;
	margin: 0 auto;
	color: rgb(128, 187, 1);
	font-size: 18px;
	border-radius: 20px;
	font-weight: 900;
}
.more-btn span{
	float: right;
	margin-right: 16px;
}
.more-btn:hover{
	background: black;
	color: white;
}
.more-box img{
	position: absolute;
	top: 256px;
	left: 50%;
	margin-left: -272px;
}
.box5{
	padding: 140px 0px;
	background: #f7f7f7;
	position: relative;
}
.box5 img{
	margin-left: 16%;
	width: 756px;
}
.about-box{
	width: 480px;
	padding: 50px 30px;
	background: #80bb01;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -120px;
}
.about-box h3{
	font-size: 24px;
	font-weight: normal;
	color: #ffffff;
}
.line5{
	width: 40px;
	height: 3px;
	background: white;
	margin: 25px 0px;
}
.about-box p{
	font-family: "仿宋_gb2312";
	font-size: 12px ;
	color: white;
	line-height: 24px;
	letter-spacing: 2px;
}
.box6{
	padding-bottom: 120px;
	background: white url(../img/ia_100000033.webp) 0px 0px;
}
.news-list{
	width: 68%;
	overflow: hidden;
	margin: 0 auto;
	list-style: none;
}
.news-list li{
	float: left;
	margin-left: 30px;
	width: calc((100% - 60px) / 3);
}
.news-list li:first-child{
	margin-left: 0px;
}
.news-img{
	display: block;
	width: 100%;
}
.news-imgbox{
	position: relative;
}
.opacity-box{
	position: absolute;
	top: 0%;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
	transition: all 0.5s;
}
.fdj{
	position: absolute;
	top: -32px;
	left: 50%;
	margin-top: -16px;
	margin-left: -16px;
	transition: all 0.5s;
}
.news-list h4{
	color: #555555;
    font-size: 16px;
    font-weight: 500;
    margin: 30px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.line6,.line7{
	border-top: solid 1px #ccc;
}
.line7{
	margin-top: -1px;
	border-top: solid 1px #666;
	transition: all 0.5s;
	width: 0px;
}
.news-list p{
	color: #aaaaaa;
    font-size: 12px;
    line-height: 24px;
    padding-top: 15px;
}
.news-list li:hover .opacity-box{
	top: 0px;
	background: rgba(0,0,0,0.3);
}
.news-list li:hover .fdj{
	top: 50%;
}
.news-list li:hover h4{
	color: green;
}
.news-list li:hover .line7{
	width: 100%;
}
.more-news{
	width: 200px;
	height: 36px;
	border: solid 1px #c6c6c6;
	margin: 85px auto 0px;
	display: block;
	text-align: center;
	line-height: 36px;
}
.box7{
	height: 452px;
	position: relative;
	background: url(../img/ia_100000037.webp) 0px 0px/cover;
}
.box7 .box-title h3,.box7 .box-title span{
	color: white;
}
.box7 .line2{
	background: white;
}
.box7 .opacity-box{
	    background: rgba(0,0,0,0.3);
}
.box7 .box-title{
	position: relative;
	z-index: 10;
}
.banner-box{
	width: 67%;
	height: 140px;
	position: relative;
	z-index: 10;
	margin: 0 auto;
	overflow: hidden;
}
.banner-list{
	width: 300%;
	position: relative;
	left: 0px;
	list-style: none;
	z-index: 10;
	transition: all 1s;
}
.banner-list li{
	float: left;
	width: calc(100% / 3);
	padding: 0px 50px;
	box-sizing: border-box;/**/
}
.banner-left{
	float: left;
	width: 12%;
	color: white;
	text-align: center;
}
.banner-list img{
	display: block;
	margin: 10px auto 0px;
	border-radius: 50%;
}
.banner-list h4{
	font-size: 13px;
}
.banner-list p{
	color: #D3D3D3;
	font-size: 13px;
	line-height: 32px;
	margin-top: 20px;
}
.banner-right{
	float: right;
	width: 82%;
}
.banner-btn{
	position: absolute;
	bottom: 55px;
	text-align: center;
	width: 100%;
}
.banner-btn span{
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 50%;
	margin: 0px 4px;
	background: #ccc;
}
.banner-btn span:first-child{
	background: #60c14d;
}
.box8{
	height: 678px;
	background: white;
}
.img-list{
	text-align: center;
	font-size: 0;
}
.img-list img{
	width: 104px;
	margin: 0px 35px;
}
.footer{
	width: 1010px;
	height: 250px;
	margin: 32px auto 0px;
}
.footer-left{
	width: 330px;
	height: 100%;
	float: left;
}
.footer-left h3{
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 15px;
}
.footer-left p{
	font-size: 13px;
	color: rgb(105, 105, 105);
	line-height: 24px;
}
.footer-right{
	width: 645px;
	height: 100%;
	float: right;
}
.footer-right input{
	width: 313px;
	height: 40px;
	background: #f5f5f5;
	border: none;
	outline: medium;
	float: left;
	margin-right: 10px;
	margin-bottom: 13px;
	text-indent: 16px;
}
.footer-right input:nth-child(2n){
	margin-right: 0px;
	width: 322px;
}
.footer textarea{
	height: 80px;
	background: #f5f5f5;
	border: none;
	outline: medium;
	width: 100%;
	text-indent: 16px;
	resize: none;/*禁止缩放*/
	display: block;
}
.footer-right .submit-btn{
	width: 130px !important;
	height: 40px;
	background: #4bb344;
	color: white;
	text-align: center;
	line-height: 40px;
	margin-top: 23px;
	text-indent: 0px;
}
.news-list2{
	width: calc(100% - 30px);
	margin: 0 auto;
	display: none;
}
.news-list2 li{
	overflow: hidden;
	padding: 15px 0px;
}
.news-list2 img{
	float: left;
	width: 100px;
	height: 80px;
}
.news-imgbox-list-right{
	float: right;
	width: calc(100% - 140px);
}
.news-list2 li{
	border-bottom: solid 1px #ccc;
}
.news-imgbox-list-right h3{
	font-size: 16px;
	font-weight: 500;
}
.news-imgbox-list-right span{
	font-size: 13px;
	color: #8d9095;
}
.line0{
	border-top: solid 1px #ccc;
	margin: 3px 0px;
}
.more-news{
	margin: 50px auto 0px;
}
@media screen and (max-width:480px ) {
	.box1{
		height: 76px;
		padding-top: 12px;
	}
	.nav{
		display: none;
	}
	.logo{
		margin-left: 0px;
		float: none;
		margin: 0px auto 0px;
		display: block;
		width: 191px;
	}
	.nav2{
		display: block;
	}
	body{
		background: url(../img/ia_100000027.webp) no-repeat  0px 132px/130% 258px;
		animation: banner1 3s  alternate infinite;
	}
	@keyframes banner1{
		from{background: url(../img/ia_100000027.webp) no-repeat  0px 132px/130% 258px;}
		to{background: url(../img/ia_100000028.webp) no-repeat  0px 132px/130% 258px;}
	}
	.box2{
		margin-top: 260px;
		padding: 0px 0px 87px;
	}
	.sever-list{
		padding: 0px 15px;
	}
	.sever-list li{
		width: 48%;
		margin-top: 20px;
		padding: 0px 1%;
	}
	.box3{
		height: auto;
		overflow: hidden;
		background: white url(../img/ia_100000033.webp) no-repeat 0px 0px/150%;
	}
	.fruits-list{
		width: calc(100% - 30px);
		padding: 0px 15px;
	}
	.fruits-list li{
		width: calc(50% - 12px);
		margin: 5px 5px;
	}
	.box4{
		background: none;
		padding: 70px 0px 218px 0px;
	}
	.more-box{
		height: 210px;
	}
	.more-box img{
		top: 30px;
		width: 100%;
		margin-left: -186px;
	}
	.box-title2{
		padding-top: 52px;
	}
	.box-title2 span,.box-title2 .line2{
		display: none;
	}
	.more-btn{
		display: none;
	}
	.box5 img{
		display: none;
	}
	.about-box{
		width: calc(100% - 30px);
	    padding: 50px 15px;
	    background: #80bb01;
	    position: absolute;
	    top: 0%;
	    left: 0%;
	    margin-top: 0px; 
	}
	.box6{
		background: white url(../img/ia_100000033.webp) no-repeat 0px 0px/150%;
	}
	.news-list{
		display: none;
	}
	.news-list2{
		display: block;
	}
	.box7{
		height: 520px;
	}
	.banner-box{
		width: 100%;
		margin: 0 auto;
		padding: 0px 0px;
		height: 300px;
		overflow: hidden;
		box-sizing: border-box;
	}
	.banner-list li{
		padding: 0;
	}
	.banner-left{
		float: none;
		width: 100%;
	}
	.banner-right{
		float: none;
	}
	.banner-list p{
		width: 100%;
		line-height: 18px;
	}
	.img-list{
		display: none;
	}
	.box8{
		height: auto;
	}
	.box8 .box-title{
		display: none;
	}
	.footer{
		width: 100%;
		height: auto;
	}
	.footer-left{
		float: none;
		margin-left: 15px;
	}
	.footer-right{
		float: none;
		width: calc(100% - 30px);
		margin: 0 auto;
	}
	.footer-right input{
		width: 100%;
		float: none;
		margin-right: 0px;
	}
	.footer-right input:nth-child(2n) {  
	    width: 100%;
	}
	.footer-right .submit-btn {
	    margin-bottom: 50px;
	}
}